.page_main-block {
    height: 700px;
    background-image: url("../картинки/phy_logo.jpeg");
    background-size: cover;
}
.header_logo{
    width: 80%;
}
@media (max-width: 1200px) {
    .white {
        height: 600px;
    }

}

@media (max-width: 970px) {
    .white {
        height: 660px;
    }

    .page_main-block {
        height: 760px;
    }
}

@media (max-width: 945px) {
    .white {
        height: 750px;
    }

    .page_main-block {
        height: 850px;
    }
    .logo_text{
        font-size: 30px;
    }
}

@media (max-width: 750px) {
    .white {
        height: 800px;
    }

    .page_main-block {
        height: 900px;
    }
    .logo_text{
        font-size: 20px;
    }
    .header_logo{
        width: 100%;
    }
}@media (max-width: 650px) {
    .white {
        height: 900px;
    }

    .page_main-block {
        height: 1000px;
    }
}